<header class="top-fone">
    <small class="lable">Твоя библиотека</small>
    <form method = "post" action="{% url 'returnMain' %}">
        {% csrf_token %}
        <button class="main-button" type="submit">Главная</button>
    </form>
        <form method = "post" action="{% url 'catalog' %}">
        {% csrf_token %}
        <button class="catalog-button" type="submit">Каталог</button>
    </form>
    </form>
        <form method = "post" action="{% url 'youBook' %}">
        {% csrf_token %}
    <button class="button-book" type="submit">Твоя книга</button>
    </form>

    <button class="button-favourites" type="submit">Избранное</button>
</header>
