<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cписок книг</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
{% include "head.html" %}
<body >
    <div class="container">
    {% for book in books %}
        <div class="scroll">
            <img src="{{ book.image }}" class="bookImg">
    <h3>{{ book.author }}</h3>
    <h2>{{ book.title }}</h2>
    <p>{{ book.description }}</p>
    <small>{{ book.status }}</small>
    <small>{{ book.quantity</small>
    <form method = "get" action="{% url 'form' bookId=book.id %}">
        <input type="submit" value="Забронировать" class="btn">
    </form>
        </div>
    </div>
    {% endfor %}
    <form action={% url 'catalog' %}>
        <input type="submit" value="Перейти к каталогу"class="btn">
    </form>
</body>
{% include "footer.html" %}
</html>