.background-main
{
background-image: url("../img/img.png");
background-position:center center;
background-attachment:fixed;
background-size:cover;
}
.top-fone{
    position: absolute;
    width: 100%;
    height: 249px;
    left: 0px;
    top: 0px;
    background: #593C3C;
}

.lable{
    position: absolute;
    width: 399px;
    height: 58px;
    left: 359px;
    top: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #61FF00;
}

.main-button{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 178px;
    top: 177px;
    background: #94B33E;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.catalog-button{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 449px;
    top: 177px;
    background: #94B33E;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.button-book{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 720px;
    top: 177px;
    background: #94B33E;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}
    .button-favourites{
    position: absolute;
    width: 160px;
    height: 40px;
    left: 991px;
    top: 177px;
    background: #94B33E;
    border-radius: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}
.img{
    position: absolute;
    width: 100%;
    height: 652px;
    left: 0px;
    top: 249px;
}
.discuss{
    position: absolute;
    width: 438px;
    height: 128px;
    left: 0px;
    top: 700px;
    background: #94B33E;
    border-radius: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 18px;
}
.down-fon{
    position: realetive;
    width: 100%;
    height: 123px;
    left: 0px;
    background: #593C3C;
}
.adres{
    margin: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.tel{
    margin: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.my{
    margin: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
.fon{
    width: 100%;
    height: 652px;
    left: 0px;
    top: 249px;
    background: #D9D9D9;
}
.classic{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 163px;
    top: 357px;
    background: #7B808E;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.journal{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 163px;
    top: 427px;
    background: #7B808E;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.history{
    position: absolute;
    width: 178px;
    height: 30px;
    left: 163px;
    top: 497px;
    background: #7B808E;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24p
}
.spec{
    position: absolute;
    width: 178px;
    height: 55px;
    left: 163px;
    top: 567px;
    background: #7B808E;
    border-radius: 15px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24p
}
.container{
    position: realetive;
    left:10px;

    background-color:#f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;

    box-shadow:0 2px 4px rgba(0,0,0,0.1);

    width: 1000px;

}
.bookImg{
    border-radius: 8px;
    width: 200px;
    height:230px;
}
